In [53]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [54]:
df=pd.read_csv('advertising.csv')

In [55]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
le=LabelEncoder()

In [67]:
df['Ad Topic Line']=le.fit_transform(df['Ad Topic Line'])

In [68]:
df['City'] = le.fit_transform(df['City'])
df['Country'] = le.fit_transform(df['Country'])

In [69]:
df['Timestamp'] = le.fit_transform(df['Timestamp'])

In [70]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,91,961,0,215,439,0
1,80.23,31,68441.85,193.77,464,903,1,147,474,0
2,69.47,26,59785.94,236.50,566,111,0,184,367,0
3,74.15,29,54806.18,245.89,903,939,1,103,56,0
4,68.37,35,73889.99,225.58,766,805,0,96,767,0

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   int64
 5   City                      1000 non-null   int64
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   int64
 8   Timestamp                 1000 non-null   int64
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(7)
memory usage: 78.2 KB

In [86]:
df.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,499.500000,486.323000,0.481000,115.41000,499.500000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,288.819436,279.311571,0.499889,69.94372,288.819436,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,249.750000,246.750000,0.000000,54.00000,249.750000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,499.500000,484.500000,0.000000,113.50000,499.500000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,749.250000,727.250000,1.000000,177.00000,749.250000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,999.000000,968.000000,1.000000,236.00000,999.000000,1.00000

In [71]:
X=df.iloc[:,:-1]

In [72]:
X.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp
0,68.95,35,61833.90,256.09,91,961,0,215,439
1,80.23,31,68441.85,193.77,464,903,1,147,474
2,69.47,26,59785.94,236.50,566,111,0,184,367
3,74.15,29,54806.18,245.89,903,939,1,103,56
4,68.37,35,73889.99,225.58,766,805,0,96,767

In [73]:
y=df.iloc[:,-1]

In [74]:
y.value_counts()

0    500
1    500
Name: Clicked on Ad, dtype: int64

In [75]:
X.isnull().values.any()

False

In [76]:

from sklearn.model_selection import train_test_split

In [77]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [79]:
from sklearn.ensemble import RandomForestClassifier

In [80]:
clf=RandomForestClassifier()

In [81]:
clf.fit(X_train,y_train)

RandomForestClassifier()

In [82]:
y_pred=clf.predict(X_test)

In [83]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [84]:
accuracy_score(y_test,y_pred)

0.93

In [85]:
confusion_matrix(y_test,y_pred)

array([[ 82,   7],
       [  7, 104]])

In [87]:
import pickle

In [88]:
pickle.dump(clf,open('model.pkl','wb'))

In [89]:
model=pickle.load(open('model.pkl','rb'))

In [99]:
print(model.predict([[0,0,0,0,0,0,0,0,0]]))

[1]